div#header-container
    div.btn-menu(onclick="openNav()", title='Open menu')
        i.fa.fa-bars.fa-lg
    div.header-block.header-user-name
        span {{my.user.name}} {{my.user.sname}}
    div.header-block.header-balance
        span Balance: {{my.balance}} грн
    div.header-block.header-expenses
        span Expenses: {{my.balanceExpences}} грн
    div.logout-block
        i.fa.fa-power-off(aria-hidden='true', title='Logout' ng-click='my.logOut()')

section#history-container

    div.year
        a.fa.fa-arrow-left(href="#")
        h2 2017
        a.fa.fa-arrow-right(href="#")
    div.months
        input#months-1.months-selector-1(type='radio', name='radio-set', checked='checked')
        label.months-label-1(for='months-1') Jan
        input#months-2.months-selector-2(type='radio', name='radio-set')
        label.months-label-2(for='months-2') Feb
        input#months-3.months-selector-3(type='radio', name='radio-set')
        label.months-label-3(for='months-3') Mar
        input#months-4.months-selector-4(type='radio', name='radio-set')
        label.months-label-4(for='months-4') Apr
        input#months-5.months-selector-5(type='radio', name='radio-set')
        label.months-label-5(for='months-5') May
        input#months-6.months-selector-6(type='radio', name='radio-set')
        label.months-label-6(for='months-6') June
        input#months-7.months-selector-7(type='radio', name='radio-set')
        label.months-label-7(for='months-7') July
        input#months-8.months-selector-8(type='radio', name='radio-set')
        label.months-label-8(for='months-8') Aug
        input#months-9.months-selector-9(type='radio', name='radio-set')
        label.months-label-9(for='months-9') Sept
        input#months-10.months-selector-10(type='radio', name='radio-set')
        label.months-label-10(for='months-10') Oct
        input#months-11.months-selector-11(type='radio', name='radio-set')
        label.months-label-11(for='months-11') Nov
        input#months-12.months-selector-12(type='radio', name='radio-set')
        label.months-label-12(for='months-12') Dec
    div.content
        table.history-table
            tr
                th(ng-click="order='date'") DATE
                th(ng-click="order='count'") SUM
                th(ng-click='order="title"') TITLE
                th(ng-click="order='type'") TYPE
                th COMMENT
            tr(ng-repeat="x in his.totalBalance | orderBy: order | filter:date")
                td {{x.date}}
                td {{x.count}} UAH
                td {{x.title}}
                td {{x.type}}
                td {{x.description}}
