#history-container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.months {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.months input {
  margin: 0;
  flex: 0 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
}

.months label {
  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ba4a4), color-stop(100%, #4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  font-size: 15px;
  line-height: 40px;
  height: 40px;
  position: relative;
  flex: 1 0;
  float: left;
  display: block;
  width: 50px;
  color: #385c5b;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px 3px 0 0;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.months label:after {
  content: '';
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  display: block;
}

.months input:hover + label {
  background: #5ba4a4;
}

.months label:first-of-type {
  z-index: 4;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}

.months-label-2 {
  z-index: 3;
}

.months-label-3 {
  z-index: 2;
}

.months-label-4 {
  z-index: 1;
}

.months input:checked + label {
  background: #fff;
  z-index: 6;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 370px;
  z-index: 5;
  box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0 3px 3px 3px;
}

.content div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 40px;
  z-index: 1;
  opacity: 0;
  transition: opacity linear 0.1s;
}

.months input.months-selector-1:checked ~ .content .content-1,
.months input.months-selector-2:checked ~ .content .content-2,
.months input.months-selector-3:checked ~ .content .content-3,
.months input.months-selector-4:checked ~ .content .content-4 {
  z-index: 100;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  transition: opacity ease-out 0.2s 0.1s;
}

.content div h2,
.content div h3 {
  color: #398080;
}

.content div p {
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
  text-align: left;
  margin: 0;
  color: #777;
  padding-left: 15px;
  font-family: Cambria, Georgia, serif;
  border-left: 8px solid rgba(63, 148, 148, 0.1);
}

.history-table {
  margin: 20px auto;
  width: 90%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  cursor: pointer;
}

tr:hover {
  background-color: #f5f5f5
}