#main-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.main-block {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  border-top: 1px solid #bfbfbf;
}
.main-block-elements {
  width: 18vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  //background: silver;
  margin: 10px 3vw 10px 3vw;
  text-align: center;
  input[type=button] {
    width: 17vw;
    height: 17vw;
    margin: 5px 0;
    border-radius: 50%;
    cursor: pointer;
    //background-color: silver;
    @include mobile {
      width: 16vw;
      height: 16vw;
    }
    @include tablet {
      width: 11vw;
      height: 11vw;
    }
    @include desktop {
      width: 9vw;
      height: 9vw;
    }
    @include desktop-xl {
      width: 6vw;
      height: 6vw;
    }
    @include desktop-xxl {
      width: 5vw;
      height: 5vw;
    }
  }
  @include mobile {
    width: 16vw;
    margin: 10px 4vw 10px 4vw;
  }
  @include tablet {
    width: 14vw;
    margin: 10px 2.5vw 10px 3vw;
  }
  @include desktop {
    width: 12vw;
    margin: 10px 2.2vw 10px 2.2vw;
  }
  @include desktop-xl {
    width: 10vw;
    margin: 10px 2vw 10px 2vw;
  }
  @include desktop-xxl {
    width: 8vw;
    margin: 10px 1.5vw 10px 1vw;
  }
}
.elements-title, .elements-value {
  font-family: $header-font;
  font-weight: bold;
}

.btn-add {
  border: none;
  width: 50px;
  height: 50px;
  background-image: url("../img/icons/plus.svg");
  background-size: cover;
  background-color: white;
}
.btn-incomes {
  border: 2px solid #21599E;
  background-image: url("../img/icons/coin.svg");
  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-cash {
  border: none;
  background: url("../img/icons/wallet.svg");
  background-color: #af3233;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-card {
  border: none;
  background: url("../img/icons/card.svg");
  background-color: #4276af;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-food {
  border: none;
  background: url("../img/icons/food.svg");
  background-color: #af460c;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-transport {
  border: none;
  background: url("../img/icons/transport.svg");
  background-color: #135a74;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-clothes {
  border: none;
  background: url("../img/icons/shirt.svg");
  background-color: #ad74a6;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-house {
  border: none;
  background: url("../img/icons/home.svg");
  background-color: #aaad6f;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-health {
  border: none;
  background: url("../img/icons/health.svg");
  background-color: #229b5c;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-gifts {
  border: none;
  background: url("../img/icons/gift.svg");
  background-color: #3b3176;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-fun {
  border: none;
  background: url("../img/icons/fun.svg");
  background-color: #874953;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-other {
  border: none;
  background: url("../img/icons/clock.svg");
  background-color: #c0bbb7;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

//.radio_buttons {
//  margin: 20px;
//  font: 14px Tahoma;
//}
//.radio_buttons div {
//  float: left;
//}
//.radio_buttons input {
//  position: absolute;
//  left: -9999px;
//}
//.radio_buttons label {
//  display: block;
//  margin: 0 5px;
//  padding: 30px;
//  border-radius: 50%;
//  border: 1px solid #BBBBBB;
//  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
//  box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
//  cursor: pointer;
//}
//.radio_buttons input:checked + label {
//  //background: white;
//  background: #666fc0;
//  box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
//}
//.radio_buttons div:first-child label {
//  margin-left: 0;
//  //border-top-left-radius: 4px;
//  //border-bottom-left-radius: 4px;
//}
//.radio_buttons div:last-child label {
//  //border-top-right-radius: 4px;
//  //border-bottom-right-radius: 4px;
//}
//.some1 {
//  background: green;
//  width: 130px;
//  height: 130px;
//  transition: .5s;
//}
//#chetyre2:checked ~ .some1 {
//  background: yellow;
//}
//#chetyre3:checked ~ .some1 {
//  background: red;
//}
