#stat_charts {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #fff;
  padding-top: 20px;
}
.diagramGroup {
  padding-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #fff;
}
#columnchart_values {
  height: 55vh!important;
  position: static!important;
  margin: 0 auto;
}
.diagramBlock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.diagramSave, .diagramWaste {
  height: 35vh!important;
  position: static!important;
}