@font-face {
  font-family: "Cambria Regular";
  src: url("../fonts/CAMBRIA.TTF") format("truetype");
}
@font-face {
  font-family: "TeVinne Txt BT";
  src: url("../fonts/TEVINNEBT.TTF") format("truetype");
}
@font-face {
  font-family: "Corbel Regular";
  src: url("../fonts/CORBEL.TTF") format("truetype");
}
@font-face {
  font-family: "Book Antiqua";
  src: url("../fonts/ANTQUAI.TTF") format("truetype");
}
@font-face {
  font-family: "Minion Pro";
  src: url("../fonts/MINIONPRO.TTF") format("truetype");
}