/* project variables --------------------*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1300px;
$desktop-xxl: 1680px;

$header-color: #e6e6e6;
$border-color: #a7a7a7;
$main-font: 'Cambria';
$top-link-font: 'TeVinne Txt BT';
$footer-link-font: 'Corbel';
$lang-font: 'Minion Pro';
$publish-font: 'Book Antiqua';