/* project variables --------------------*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-xl: 1280px;
$desktop-xxl: 1440px;

$header-color: #e6e6e6;
$border-color: #a7a7a7;
$header-font: 'Cambria';
$publish-font: 'Book Antiqua';
$top-link-font: 'TeVinne Txt BT';
$footer-link-font: 'Corbel';
