section.container
  div#header-container
      div.header-block.btn-menu
        i.fa.fa-bars
      div.header-block.header-user-name
        span Surname Name
      div.header-block.header-balance
        span Balance: 1000 грн
      div.header-block.header-expenses
        span Expenses: 1000 грн


div#menu-container
    div.menu-user-photo
        div.user-photo-box
        div.user-name Name Sname
    div.menu-list
        ul
            li.menu-list-item
                a(href='#') Home
            li.menu-list-item
                a(href='#') My Account
            li.menu-list-item
                a(href='#') History
            li.menu-list-item
                a(href='#') Statistic
            li.menu-list-item
                a(href='#') Logout