section.container(ng-app="myapp" ng-controller='mainCtrl as my')

    div#menu-container
        div.menu-user-photo
            div.user-photo-box {{my.user.photo}}
            div.user-name {{my.user.name}} {{my.user.sname}}
        nav.menu-list
            ul
                li.menu-list-item
                    a(href='#main' onclick='closeNav()') Home
                li.menu-list-item
                    a(href='#/profile' onclick='closeNav()') My profile
                li.menu-list-item
                    a(href='#/history' onclick='closeNav()') History
                li.menu-list-item
                    a(href='#/statistic' onclick='closeNav()') Statistic
                li.menu-list-item
                    a(href='#/' ng-click='my.logOut()' onclick='closeNav()') Logout
        a.fa.fa-times#menu-close(onclick='closeNav()', title='Close menu')



//div.addmodal
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            input(type='text', placeholder='name your saves')
//            input(type='text', placeholder='value your saves')
//            button create

//div.addIncomes
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            input(type='text', placeholder='name your saves')
//            select
//                option(value='', disabled, selected) Choose your saves
//                option(value='cash') Cash
//                option(value='card') Card
//            textarea(name='Повідомлення', placeholder='Повідомлення')
//            button create


//div.addExpemses
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            label Cash - >
//            label What?
//            input(type='text', placeholder='name your saves')
//            textarea(name='Повідомлення', placeholder='Повідомлення')
//            button Cancel
//            button Submit





