section.container(ng-app="myapp" ng-controller='mainCtrl as my')

        //div#header-container
        //    div.btn-menu(onclick="openNav()")
        //        i.fa.fa-bars.fa-lg
        //    div.header-block.header-user-name
        //        span {{my.user.name}} {{my.user.sname}}
        //    div.header-block.header-balance
        //        span Balance: {{my.balance}} грн
        //    div.header-block.header-expenses
        //        span Expenses: {{my.balanceExpences}} грн
        //    div.logout-block
        //        i.fa.fa-power-off(aria-hidden='true', title='Logout' ng-click='my.logOut()')


    div#menu-container
        div.menu-user-photo
            div.user-photo-box
            div.user-name Name Sname
        div.menu-list
            ul
                li.menu-list-item
                    a(href='#main') Home
                li.menu-list-item
                    a(href='#/profile') My Account
                li.menu-list-item
                    a(href='#/history') History
                li.menu-list-item
                    a(href='#statistic') Statistic
                li.menu-list-item
                    a(href='#/' ng-click='my.logOut()') Logout
        a.fa.fa-times#menu-close(onclick='closeNav()')


