section.container(ng-app="myapp" ng-controller='mainCtrl as my')

    //div#header-container
    //    div.btn-menu(onclick="openNav()", title='Open menu')
    //        i.fa.fa-bars.fa-lg
    //    div.header-block.header-user-name
    //        span {{my.user.name}} {{my.user.sname}}
    //    div.header-block.header-balance
    //        span Balance: {{my.balance}} грн
    //    div.header-block.header-expenses
    //        span Expenses: {{my.balanceExpences}} грн
    //    div.logout-block
    //        i.fa.fa-power-off(aria-hidden='true', title='Logout', ng-click='my.logOut()')


    div#menu-container
        div.menu-user-photo
            div.user-photo-box {{my.user.photo}}
            div.user-name {{my.user.name}} {{my.user.sname}}
        nav.menu-list
            ul
                li.menu-list-item
                    a(href='#main') Home
                li.menu-list-item
                    a(href='#') My Account
                li.menu-list-item
                    a(href='#/history') History
                li.menu-list-item
                    a(href='#/statistic') Statistic
                li.menu-list-item
                    a(href='#/' ng-click='my.logOut()') Logout
        a.fa.fa-times#menu-close(onclick='closeNav()', title='Close menu')



//div.addmodal
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            input(type='text', placeholder='name your saves')
//            input(type='text', placeholder='value your saves')
//            button create

//div.addIncomes
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            input(type='text', placeholder='name your saves')
//            select
//                option(value='', disabled, selected) Choose your saves
//                option(value='cash') Cash
//                option(value='card') Card
//            textarea(name='Повідомлення', placeholder='Повідомлення')
//            button create


//div.addExpemses
//    div.form
//        form.add-form
//            i.fa.fa-times-circle.fa-lg(aria-hidden='true', title='Close modal')
//            label Cash - >
//            label What?
//            input(type='text', placeholder='name your saves')
//            textarea(name='Повідомлення', placeholder='Повідомлення')
//            button Cancel
//            button Submit


