div.login-page(ng-show='reg.loginForm' ng-blure='reg.loginForm=false')
    div.form
        form.login-form
            input(type='text', placeholder='username' ng-model='reg.userLogIn.login')
            input(type='password', placeholder='password' ng-model='reg.userLogIn.password')
            span.alert( ng-show='reg.alert') {{reg.message}}
            button(ng-click='reg.login()') login
            p.message
                | Not registered?
                a(href='#/' ng-click='reg.registerButton()') Create an account






div.register-page(ng-show='reg.registerForm')
    div.form
        form.register-form
            i.fa.fa-times-circle.fa-lg(aria-hidden='true' title='Close modal' ng-click='reg.closeForm()')
            input(type='text', placeholder='first name' maxlength='15' ng-model='reg.newUser.name' required)
            input(type='text', placeholder='second name' maxlength='15' ng-model='reg.newUser.sname' required)
            input(type='text', placeholder='login' maxlength='15' ng-model='reg.newUser.login' required)
            span.alert(ng-show='reg.alert') {{reg.message}}
            input(type='email' placeholder='email' id="myEmail" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required)
            input(type='password', placeholder='password' maxlength='15' ng-model='reg.newUser.password' required)
            button(href='#' ng-click='reg.createAccount(reg.newUser)') create
            p.message
                | Already registered?
                a(href='#/' ng-click="reg.loginButton()") Sign In